.text_address{
    background: linear-gradient(to left, #6C247F , #e28ef3);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.bg_shape_5, .bg_shape_6 {
    position: absolute;
    opacity: .15;
}
.bg_shape_5{
    top: 0;
    left: 0;
    width: 34.375%;
    height: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(108,36,127,1) 100%);

}

.bg_shape_6 {
    top: 50%;
    left: 90%;
    width: 35.325%;
    padding-top: 35.325%;
    background: rgb(182,102,203);
    background: linear-gradient(90deg, rgba(182,102,203,1) 44%, rgba(108,36,127,1) 100%);
    border-radius: 100%;
    transform: translate(9.7%, -50%) rotate(90deg);
}

.composition_6_decoration_1{
    position: absolute;
    top: 20%;
    left: 15%;
    width: 8%;
}

.composition_6_decoration_2{
    position: absolute;
    top: 60%;
    left: 34%;
    width: 8%;
}
.show_mored{
    background: rgb(182,102,203);
    background: linear-gradient(90deg, rgba(182,102,203,1) 8%, rgba(182,102,203,1) 20%, rgba(174,95,195,1) 33%, rgba(162,84,182,1) 60%, rgba(108,36,127,1) 100%);
    border: none;
    color: #FFFFFF;
}