.approach_address{
    background: linear-gradient(to left, #6C247F , #e28ef3);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.approach_address2{
    background: linear-gradient(to left, #6C247F , #e28ef3);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.image_approach {
    width: 83%;
    filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(103deg);
    border-radius: 35px;
}